@model List<FilterRentACarDto>

<script src="~/chart.js"></script>

<div class="col-lg-4">
    <div class="card">
        <div class="card-body">

            <h4 class="card-title d-inline-block">Yıllık Kiralama Sayıları</h4>

            <div style="height: 260px;">
                <canvas id="my1Chart"></canvas>
                <script>
                    var values=document.getElementById("my1Chart").getContext('2d');
                    var my1Chart=new Chart(values,{
                        type: 'line',
                        data:{
                            labels:[@foreach (var item in Model)
                    {
                                    item.Brand.ToString();

                    }],
                            datasets:[{
                                label:'Aylık Kiralama Grafiği',
                                data:[@foreach (var item in Model)
                                                                                {
                                item.Amount.ToString();
                    }
                    ],
                                borderColor:'rgba(75,192,192,1)',
                                borderWidth:1
                            }]
                        },
                        options:{
                            scales:{
                                y:{
                                    beginAtZero:true
                                }
                            }
                        }
                    });
                </script>
            </div>


        </div> <!-- end col -->
    </div> <!-- end col -->
</div> <!-- end col -->
